.Jichuuu_logo {
    font-family: 'Gamja Flower', cursive;
}

.Jichuuu_footer_button {
    font-size: 0.9rem;
}

.Jichuuu_footer {
    text-align:center;
    margin-top: 2rem;
}

.Jichuuu_header {
    text-align:center;
    margin: 2rem 0;
}

